version: "3.9"
services:
  playwright:
    build: .
    container_name: playwright
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix
    environment:
      - DISPLAY=${DISPLAY}
      - BASE_URL=http://localhost
    stdin_open: true
    tty: true
